html,
body {
  margin: 0;
  font-size: 15px;
}
.popup {
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
  display: none;
}
.popup.active {
  display: block;
}
.popup .title {
  font-size: 1.2rem;
}
.popup .link {
  display: inline-block;
  background: #000;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 0.5em;
}
